@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




.oul {
  font-weight: 900;
  line-height: 1em;
  color: transparent;
  -webkit-text-stroke: 1px #ffffff;
  }


.playfair{
  font-family: "Playfair Display", serif;

}
.poppins{
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

.archivor {
  font-family: "Archivo Black", sans-serif;
  font-style: normal;
}

/* .bgg{
  background: linear-gradient(145deg ,23272b , #1e2024);
} */

.bgg:hover{
  background: linear-gradient(145deg, #1d1f22, #1b1d20);
}

.achimg{ 
  background-position: center;
  background-size: cover;
}

.bodersha {
  box-shadow: 1px 4px 2px -3px rgba(0, 0, 0, 0.7) inset, -1px -3px 3px -2px rgba(255, 255, 255, 0.2) inset;
   border: 2px solid;
   background-color: #191b1e;
    border-radius: 6px;
    height: 55px;
    border: 2px solid #191b1e;
    padding: 0 15px;
    letter-spacing: 1px;
}
.bodershames {
  box-shadow: 1px 4px 2px -3px rgba(0, 0, 0, 0.7) inset, -1px -3px 3px -2px rgba(255, 255, 255, 0.2) inset;
   border: 2px solid;
   background-color: #191b1e;
   outline-color:#191b1e ;
    border-radius: 6px;
    height: 100px;
    border: 2px solid #191b1e;
    padding: 0 15px;
    letter-spacing: 1px;
}


.bgeffect{
  background: linear-gradient(145deg, #1e2024, #23272b);
}

.bgeffect{
  background: linear-gradient(145deg, #1e2024, #23272b);
}

.navLinks .active{
  color: white;

  ;
}
